body {
    background-color: #00008b; 
    color: #fffaf0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Italic', sans-serif;
    margin: 20px 140px 20px 140px;
    text-align: center;
}

header {
    font-size: larger;
}

content {
    padding-left: 20px;
}
h1 {
    background-color: da#008b8b;
    color: #fffaf0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Italic', sans-serif;
    margin: 35px;
    text-align: center;

}

h2 {
    background-color: da#82d1d188;
    color: #fffaf0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Italic', sans-serif;
    margin: 35px;
    text-align: center;

}

h3 {
    text-align: left;
}

p {
    background-color: #393991; 
    color: #f3f1f5;
    font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
    margin: 20px 140px 20px 140px;
    text-align: center;

 }
 

footer {
    background-color: #00008b; 
    color: #fffaf0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Italic', sans-serif;
    margin: 20px 140px 20px 140px;
    text-align: center;
    
}

/*update formatting for links on page - researched links on <https://css-tricks.com/css-basics-styling-links-like-boss/>
Order is necessary to be in specific order (link, visited, hover, active, focus) */
a {
    color: #0febeb;
}

a:visited {
    color: #a9a9a9;
}
a:hover {
    color: #a9a9a9;
}
a:active {
    color: #000000;
}

/* Star Rating */
/* Below code taken from Ref # 6 - Star Rating - All code below to end comment tag has been copied */
.rate {
    height: 46px;
    padding: 30px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
/* All code above to previous comment tag copied from Ref # 6 */


/* # 9 - Modified below code from here to create sidebar */
/* sidebar style */
/* Style the sidebar - fixed full height */
.sidebar {
  color: rgb(16, 158, 194);
  height: 100%;
  width: 300px;
  z-index: 0;
  top: 0;
  left: 0;
  background-color: rgb(11, 67, 170);
  overflow-x: hidden;
  padding-top: 16px;
}

/* Style sidebar links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 14px;
  color: #818181;
  display: block;
}

/* Style links on mouse-over */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Style the main content */
.main {
  margin-left: 300px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

