body {
    background-color: #00008b; 
    color: #fffaf0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 140px 20px 140px;
    text-align: center;
}

header {
    font-size: 20px;
}

content {
    position: absolute;
    top: 25px;
    right: 24px;
    bottom: 25px;
    left: 250px;
}
h1 {
    background-color: da#008b8b;
    color: #fffaf0;
    font-family: 'Arial Black', 'Arial Bold', Gadget, 'Franklin Gothic Medium', sans-serif;
    font-size: 24px;
    margin: 35px;
    text-align: center;

}

h2 {
    background-color: da#82d1d188;
    color: #fffaf0;
    font-size: 21px;
    font-family: 'Arial Black', 'Arial Bold', Gadget, 'Franklin Gothic Medium', sans-serif;
    margin: 35px;
    text-align: center;

}

h3 {
    background-color: da#82d1d188;
    color: #fffaf0;
    font-size: 18px;
    font-family: 'Arial Black', 'Arial Bold', Gadget, 'Franklin Gothic Medium', sans-serif;
    margin: 35px;
    text-align: center;

}

/* {
    color: #f3f1f5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 20px 140px 20px 140px;
    text-align: center;

}*/

p {
    color: #f3f1f5;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 140px 20px 140px;
    text-align: center;

}

img {
    width: auto;
    max-width: 75%;
    height: auto;
}

footer {
    background-color: #00008b; 
    color: #fffaf0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 140px 20px 140px;
    text-align: center;
    
}

/*update formatting for links on page - researched links on <https://css-tricks.com/css-basics-styling-links-like-boss/>
Order is necessary to be in specific order (link, visited, hover, active, focus) */
a {
    color: #0febeb;
}

a:visited {
    color: #a9a9a9;
}
a:hover {
    color: #a9a9a9;
}
a:active {
    color: #000000;
}

/* Star Rating */
/* Below code taken from Ref # 6 - Star Rating - All code below to end comment tag has been copied */
.rate {
    height: 46px;
    padding: 30px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
/* All code above to previous comment tag copied from Ref # 6 */


/* # 9 - Modified below code from here to create sidebar */
/* sidebar style */
/* Style the sidebar - fixed full height */
.sidebar {
    color: rgb(16, 158, 194);
    height: 100%;
    width: 220px;
    max-width: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(11, 67, 170);
    overflow-x: hidden;
    padding-top: 16px;
}

/* Style sidebar links */
.sidebar a {
    padding: 10px 8px 6px 16px;
    text-decoration: bold;
    font-size: 20px;
    color: #818181;
    display: block;
}

/* Style links on mouse-over */
.sidebar a:hover {
    font-size: 25px;
    color: #f1f1f1;
}

/* Style the main content */
/*.content {
    margin-left: 450px; Same as the width of the sidebar
    padding: 0px 10px;
}*/

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
    /*content {padding-top: 15px;}*/
}

/*Blog Container*/ 
.blog.container {
    color: rgb(16, 158, 194);
    height: auto;
    width: auto;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(135, 168, 228);
    overflow-x: hidden;
    /*padding-top: 8px;*/
}

.blog.container h1 {
    font-size: 26px;
}

.blog.container p {
    font-size: 18px;
}
/* Style sidebar links */
.blog.container a {
    padding: 10px 8px 6px 16px;
    text-decoration: bold;
    font-size: 20px;
    color: #818181;
    display: block;
}

/* Style links on mouse-over */
.blog.container a:hover {
    font-size: 25px;
    color: #f1f1f1;
}


