{% extends "layout.html" %}
{% block content %}
    <h1>About Me</h1>

    <img src="{{ url_for('static', filename='img/linkedinbanner.png') }}"></a>
    <br> <p>I’m Emilia. I am a graduate student at Cardiff University where I am pursing my Master of Science degree in Computing.
    The core modules in my Computing curriculum include web development, data visualisation, database management, algorithms
    and data structures. The primary technology utilized includes Python, JavaScript, Java, HTML, CSS, Flask & SQL. Prior to
    this degree, I obtained my Bachelor of Arts degree in Mass Communications. I have also obtained valuable experience in a
    variety of industries including management, customer relations management, health promotion and sales.
    <br><br>
    Outside of my career I am involved in many activities. I compete in international bodybuilding, powerlifting and women’s
    American football competitions. Currently I am also learning Spanish as a foreign language through self-study courses
    and through courses offered at Cardiff University. Feel free to connect with me via social media through the links in
    the footer of this page.
</p>

<img src="{{ url_for('static', filename='img/EmBlue.png') }}"></a>


{% endblock content %}