<!-- Home will inherit from layout.html and is used to specify data displayed on this page-->
{% extends "layout.html" %} 
{% block content %} 
<h1>All Blog Posts</h1>
<a href="descposts" class="btn btn-outline-primary">Sort Post Descending</a><nbsp>   </nbsp> <a href="ascposts" class="btn btn-outline-primary">Sort Post Ascending</a><br><br> <!-- Ref 8 - Modified code to create buttons--> 

{% for post in posts %}

<a href="{{ url_for('post', post_id=post.id) }}"><img src="{{ url_for('static', filename='img/' + post.image_file) }}"><br>
<h1>"{{post.title}}"</a></h1>
<p>by {{ post.user.username }}</p>
<p2>{{ post.content }}</p2>

{% endfor %}
{% endblock content %}
