<!--Layout is template used for all pages.  Header, footer, side bar, etc. -->
<!DOCTYPE html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">



<head>
    <meta charset="utf-8">
<body onload="titleMarquee()">

    <title>- Emilia's Website -</title> <!-- #2 on README - https://code2care.org/pages/add-animated-scrolling-to-html-page-title-script#:~:text= -->
</body>
<script type="text/javascript">

    var titleText = document.title;

    function titleMarquee() { 

        titleText = titleText.substring(1, titleText.length) + titleText.substring(0, 1);
        document.title = titleText;
        setTimeout("titleMarquee()", 450);
    } 

</script> <!-- #2 on README - https://code2care.org/pages/add-animated-scrolling-to-html-page-title-script#:~:text= -->
</head>

<body>
    <div id="header"> 
        &nbsp| <a href="{{ url_for('home') }}">Home</a>&nbsp|
        <a href="{{ url_for('about') }}">About Me</a>&nbsp|
        <a href="{{ url_for('cv') }}">CV</a>&nbsp|
        <a href="{{ url_for('register') }}">Register</a>&nbsp|
        <a href="{{ url_for('login') }}">Login</a>&nbsp| <br>&nbsp|

        {% if current_user.is_authenticated %}
        Hello, {{ current_user.username }}!&nbsp|<br>
        <a href="{{ url_for('logout') }}">Logout</a>&nbsp
        {% else %}
        Hello, Guest!&nbsp|<br> &nbsp| <a href="{{ url_for('login') }}">Login&nbsp;</a>
        or <a href="{{ url_for('register') }}">Register</a>&nbsp|
        {% endif %}

        <div id="flashes">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ulclass=flashes>
              {% for message in messages %}
                 <li>{{ message }}</li>
              {% endfor %}
              </ul>
            {% endif %}
        {% endwith %}
        </div>
            
        </div>

    </div>
        
    <div id="content"> 
        {% block content %} 
        {% endblock %} 
    </div>

</body>

</html> 