<!--Layout is template used for all pages.  Header, footer, side bar, etc. -->
<!DOCTYPE html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<a href="{{ url_for('home') }}">Home</a>
<a href="{{ url_for('about') }}">About Me</a>
<a href="{{ url_for('cv') }}">CV</a>
<a href="{{ url_for('register') }}">Register</a>
<a href="{{ url_for('login') }}">Login</a>

<head>
    <meta charset="utf-8">
<body onload="titleMarquee()">

    <title>- Emilia's Website -</title> <!-- #2 on README - https://code2care.org/pages/add-animated-scrolling-to-html-page-title-script#:~:text= -->
</body>
<script type="text/javascript">

    var titleText = document.title;

    function titleMarquee() { 

        titleText = titleText.substring(1, titleText.length) + titleText.substring(0, 1);
        document.title = titleText;
        setTimeout("titleMarquee()", 450);
    } 

</script> <!-- #2 on README - https://code2care.org/pages/add-animated-scrolling-to-html-page-title-script#:~:text= -->
</head>

<body>
    <div id="header"> </div>
    <div id="content"> {% block content %} {% endblock %} </div>
</body>

</html> 