{% extends "layout.html" %}
{% block content %}
<img src="{{ url_for('static', filename='img/' + post.image_file) }}">

<p>"{{ post.title }}"&nbsp <br> Author: {{ post.user.username }}</p>
<p>{{ post.content }}</p>

{% for comment in comments %}
<p>"{{ comment.content }}" &nbsp  <small>Author: {{comment.user.username }}</small></p>
{% endfor %}

<form method="POST" action="{{ url_for('post_comment', post_id=post.id) }}">
    {{ form.hidden_tag() }}

    <!-- Star rating -->
    <!-- Below code taken from Ref # 6 - Below code down to next comment tag -->
    <html>
    
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="style.css">
        <title></title>
    </head>
    
    <body>
        <div class="rate">
            <input type="radio" id="star5" name="rate" value="5" />
            <label for="star5" title="text">5 stars</label>
            <input type="radio" id="star4" name="rate" value="4" />
            <label for="star4" title="text">4 stars</label>
            <input type="radio" id="star3" name="rate" value="3" />
            <label for="star3" title="text">3 stars</label>
            <input type="radio" id="star2" name="rate" value="2" />
            <label for="star2" title="text">2 stars</label>
            <input type="radio" id="star1" name="rate" value="1" />
            <label for="star1" title="text">1 star</label>
        </div>
    </body>
    </html>
    <!-- Taken from Ref # 6 - Code above to top comment tag -->

    <div class="">
        {{ form.comment.label }} {{ form.comment }}
        {% for error in form.comment.errors %}
        <span style="color: #cbcf8e; font-size: xx-large;">[{{ error }}]</span> <br>
        {% endfor %}
    </div>
    <div class="">
        {{ form.submit() }}
    </div>
</form>
{% endblock content %}

{% for tag in tags %}
<p>"{{ tag.content }}" &nbsp <small>Author: {{tag.user.username }}</small></p>
{% endfor %}

<form method="POST" action="{{ url_for('post_tag', post_id=post.id) }}">
    {{ form.hidden_tag() }}
    <div class="">
        {{ form.tag.label }} {{ form.tag }}
        {% for error in form.tag.errors %}
        <span style="color: #910404;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div class="">
        {{ form.submit() }}
    </div>
</form>

