{% extends "layout.html" %}
{% block content %}
<img src="{{ url_for('static', filename='img/' + post.image_file) }}">

<p>"{{ post.title }}"&nbsp <br> Author: {{ post.user.username }}</p>
<p>{{ post.content }}</p>

{% for comment in comments %}
<p>"{{ comment.content }}" &nbsp  <small>Author: {{comment.user.username }}</small></p>
{% endfor %}

<form method="POST" action="{{ url_for('post_comment', post_id=post.id) }}">
    {{ form.hidden_tag() }}
    <div class="">
        {{ form.comment.label }} {{ form.comment }}
        {% for error in form.comment.errors %}
        <span style="color: #cbcf8e; font-size: xx-large;">[{{ error }}]</span> <br>
        {% endfor %}
    </div>
    <div class="">
        {{ form.submit() }}
    </div>
</form>
{% endblock content %}