{% extends "layout.html" %}
{% block content %}
<form method="POST" action="">
    {{ form.csrf_token }} <br>
    <img src="{{ url_for('static', filename='img/members.jpg') }}" >
    <h1>Sign up below to access member's privileges!</h1>
    {{ form.username.label }} {{ form.username }} <br> <br>
    {{ form.firstname.label }} {{ form.firstname }} <br> <br>
    {{ form.lastname.label }} {{ form.lastname }} <br> <br>
    {{ form.email.label }} {{ form.email }} <br> <br>
    {{ form.password.label }} {{ form.password }} <br> <br>
            {% for error in form.password.errors %}
            <span style="color: #910404;">[{{ error }}]</span>
            {% endfor %}
    {{ form.confirm_password.label }} {{ form.confirm_password }} <br> <br>
            {% for error in form.confirm_password.errors %}
            <span style="color: #910404;">[{{ error }}]</span>
            {% endfor %}
    <input type="submit" value="Register">
</form>
{% endblock content %}