{% extends "layout.html" %}
{% block content %}
<h1>Privacy Policy</h1>
<body>
<p> This is not a real privacy policy <br>
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus placeat laborum non laudantium quia itaque, sunt deleniti labore cupiditate suscipit, magnam nam maxime totam, iste fuga. Labore doloribus eos cum?

Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam rem voluptates exercitationem odio assumenda, qui laboriosam iste rerum dignissimos deleniti vitae ex ipsam architecto animi facilis, dolorem itaque? Cupiditate, possimus.
</p><br>
<h2>What User Data We Collect</h2> <br>
<p> Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur expedita vel, facere optio quibusdam sequi iste atque debitis nemo error odit cumque. Eius eveniet sunt ducimus dolorem odio, a aut.</p><br>

<h2>Why We Collect Data</h2><br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto perspiciatis reiciendis autem adipisci quo beatae et dolorem itaque iusto earum totam repellendus provident nulla dolorum dolores, ipsum tenetur placeat hic.</p> <br>

<h2>Links to Other Websites</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni aspernatur modi dicta provident alias dolorum recusandae quos esse repellendus. Qui delectus ipsa amet maiores reiciendis ex provident exercitationem iure earum enim! Nostrum impedit consequatur assumenda natus, optio excepturi sed! Earum saepe facere optio ut commodi omnis deleniti dolores perferendis soluta neque ullam vero veniam obcaecati, perspiciatis tempora atque dolorum, nulla nobis quasi libero tempore, aliquam beatae officia? Ullam reiciendis perspiciatis obcaecati rem id repellat, quibusdam, nihil aliquid ipsa quos quod accusamus enim fugiat doloribus corporis perferendis porro! Voluptates ipsum rerum doloribus minus magni facilis, officiis pariatur iste explicabo. Expedita, distinctio.
</p>

</body>
{% endblock content %}